body {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    gap: 20px;
}

h1 {
    color: white;
    text-align: center;
    margin: 0;
}

.tab {
    background-color: white;
    color: black;
    border: 2px solid rgb(190, 24, 24);
    padding: 15px 30px;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
    width: 500px; /* İstediğiniz genişliği belirleyebilirsiniz */
    text-align: center;

}

.tab:hover {
    background-color: rgb(131, 28, 28);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: block;
    border:100px purple;
}

body {
    min-height: 95vh;
    background: black;
    color: white;
}

.gametable
{
    position: absolute;
    top:50%;
    left:50%;
    width:1100px;
    height:700px;
    border: 8px solid white;
    transform: translate(-50%, -50%);
    overflow: hidden;
}


.paused-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

.winner-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    z-index: 10;
}

.replay-button {
    position: absolute;
    top: 80%;
    left: 20%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 3px;
    font-size: 40px;
    width: 300px; /* İstediğiniz genişliği belirleyebilirsiniz */
    text-align: center;
    z-index: 150;
}


.quit-button {
    position: absolute;
    top: 80%;
    right: 20%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    padding: 20px 30px;
    border-radius: 3px;
    font-size: 40px;
    width: 300px; /* İstediğiniz genişliği belirleyebilirsiniz */
    text-align: center;
    z-index: 150;
}
.scoretable
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin: 20px auto;
    font-size: 2rem;
}

.player,
.computer
{
    position: absolute;
    height: 180px;
    width: 20px;
    top:40%;
    padding:3px;
    background: white;
    transform: translate(-50%);
    border-radius: 10px
}

.player {
    left: 2%;
}

.computer {
    right: 0;
}

.ball {
    position: absolute;
    height: 25px;
    width:25px;
    background: white;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
}

.net {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%,-50%);
    width: 5px;
    height:13px;
    background: white;
}
